*{
    margin: 0;
}
.main-body{
    justify-content: center;
    display: flex;
    padding: 30px 30px;
    margin: 10% 20%;
}
form {
  height: fit-content;
  margin: 0 5px;
    padding: 20px;
    background-color: #5cbdf9;
    border-radius: 10px;
}
.container {
    margin: 20px auto;
  }
  .container-status
  {
    display: grid;
    width: 300px;
    margin: 20px 0px 0 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inputField{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
  }
  .inputField-description{
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
  }
  select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Optional: Customize the appearance of the select dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  /* Optional: Add hover and focus effects */
  select:hover,
  select:focus {
    border-color: #999;
  }
  
  .submit-button{
    margin: 20px 0 0 auto;
    width: 50%;
    background-color: #164573;
    font-size: 15px;
    color: white;
    font-weight: 600;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button {
    background-color: #2566a7;
}

.todoList{
  margin: 0 5px;
    width: 60%;
  background-color: rgba(5, 255, 146, 0.815);
  border-radius: 10px;
  padding: 10px;
}
.heading{
  padding: 10px;
}