/* body{
  background-color: rgb(243, 231, 208);
  display:flex;
  align-items: center;
} */
.todoHeading {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 20px;
}
input {
  border: solid 2px #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  width: 90%;
}
select {
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 50%;
}
button {
  cursor: pointer;
  width: 100%;
  padding: 3%;
  background: #007bff;
  border-bottom: 2px solid #007bff;
  border-style: none;
  color: #fff;
  margin:10px
}
.deleteButton{
  background: #cb421c;
}
.taskForm {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.taskListElement {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.taskList * {
  margin: 3px;
  cursor: pointer;
}
.taskListStatus {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 20px;
  padding: 5px;
}

.something {
  width: 200%;
  display: flex;
  justify-content: center;
  background: #faf593;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom:10px;
}
